$pale-grey: #f3f6f8 !default;
$pale-grey-invert: findColorInvert($pale-grey) !default;
$bluish-grey: #86939e !default;
$bluish-grey-invert: findColorInvert($bluish-grey) !default;
$pale-grey-two: #e1e8ee !default;
$pale-grey-two-invert: findColorInvert($pale-grey-two) !default;
$white: #ffffff !default;
$white-invert: findColorInvert($white) !default;
$dark-grey: #43484D !default;
$dark-grey-invert: findColorInvert($dark-grey) !default;
$apple-green: #81c926 !default;
$apple-green-invert: findColorInvert($apple-green) !default;
$highlight-blue: #4990e2 !default;
$highlight-blue-invert: findColorInvert($highlight-blue) !default;
$highlight-red: #d63b3b !default;
$highlight-red-invert: findColorInvert($highlight-red) !default;
$menu-list-highlight-background: rgba(141, 186, 121, .20) !default;
$menu-list-highlight-background-invert: findColorInvert($menu-list-highlight-background) !default;
$sidemenu-highlight-background: rgba(73, 144, 226, .20) !default;
$sidemenu-highlight-background-invert: findColorInvert($sidemenu-highlight-background) !default;
$medium-grey: #c2c0c0 !default;
$medium-grey-invert: findColorInvert($medium-grey) !default;
$bright-red: #ff0000 !default;
$bright-red-invert: findColorInvert($bright-red) !default;
$pink: #dd6dce !default;
$pink-invert: findColorInvert($pink) !default;
$table-row-active-background-color: rgba(141, 186, 121, .20) !default;
$table-row-active-background-color-invert: findColorInvert($table-row-active-background-color) !default;
$table-row-active-color: #0042ff !default;
$table-row-active-color-invert: findColorInvert($table-row-active-color) !default;
$custom-colors: ("pink": ($pink, $pink-invert),"table-row-active-color": ($table-row-active-color, $table-row-active-color-invert), "table-row-active-background-color": ($table-row-active-background-color, $table-row-active-background-color-invert), "bright-red": ($bright-red, $bright-red-invert), "medium-grey": ($medium-grey, $medium-grey-invert), "dark-grey": ($dark-grey, $dark-grey-invert), "pale-grey": ($pale-grey, $pale-grey-invert), "bluish-grey": ($bluish-grey, $bluish-grey-invert), "pale-grey-two": ($pale-grey-two, $pale-grey-two-invert), "white": ($white, $white-invert), "apple-green": ($apple-green, $apple-green-invert), "highlight-blue": ($highlight-blue, $highlight-blue-invert), "highlight-red": ($highlight-red, $highlight-red-invert), "menu-list-highlight-background": ($menu-list-highlight-background, $menu-list-highlight-background-invert), "sidemenu-highlight-background": ( $sidemenu-highlight-background, $sidemenu-highlight-background-invert)) !default